@import './bootstrap/scss/bootstrap.scss';

$primaryColor: Black;
$secondaryColor: lime;
$primaryButton: lime;
$textColor: lime;
$secondaryTextColor: white;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body {
  @include flexCenter;
  min-height: 100vh;
  color: $textColor;
  font-size: 1.5em;
  background-color: $primaryColor;
}

Button {
  font-weight: bolder;
  font-size: 3rem;
  margin: 15px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.box {
  max-width: min-content;
  white-space: nowrap;
  border: 2px solid $secondaryColor;
  border-radius: 25px;
  padding: 1rem;
  margin: 1rem 0;
}

.setter-controls {
  @include flexCenter;
}

#time-left {
  @include flexCenter;
  font-size: 5rem;
  color: $secondaryTextColor;
  padding: 1rem;
}

#main-title {
  font-size: 2em;
  padding: 50px;
}

#timer-label {
  font-size: 2em;
}
