#main {
    background-color: lightgoldenrodyellow;
}

#title {
    background-color: peru;
}

#img-div{
    background-color: rosybrown;
}

#image {
    background-color: sienna;
    max-width: 500px;
}
#tribute-info {
    background-color: slategrey;
}

#tribute-link {
    background-color: turquoise;
}
