#main {
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#title {
    background-color: peru;
}

#img-div{
    background-color: black;
    padding: 20px;
    width: 560px;
    max-width: 90%;
    margin: 20px;
}

#image {
    display: block;
    background-color: saddlebrown;
    width: 600px;
    max-width: 100%;
    height: auto;
    margin: 0 auto 0 auto;
}

#img-caption {
    background-color: teal;
    margin: 1em 0 0 0;
}


#tribute-info {
    background-color: slategrey;
}

#tribute-link {
    background-color: turquoise;
    text-align: center;
}
