@import '~bootstrap/scss/bootstrap';

.App {
  background-color: black;
  height: 100vh;
}

.container {
  width: max-content;
}

.pad-color {
  background-color: greenyellow;
}

.text-color {
  color: greenyellow;
}
